fastapi
uvicorn[standard]

sqlalchemy[asyncio]
asyncpg
alembic

pydantic-settings

pytest
pytest-asyncio
httpx
aiosqlite

python-jose[cryptography]
pwdlib[argon2]
email-validator

langchain
langchain-core
langchain-community
langgraph
langchain-text-splitters
pypdf
langchain-huggingface
langchain-groq
sentence-transformers
pgvector